<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>HTML</title>

    <!-- HTML -->

    <!-- Custom Styles -->
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <header class="header">
      <div class="logo-box">
        <a class="logo" href="/">Pheity</a>
      </div>
      <form class="search-box">
        <input
          type="text"
          class="search-input"
          placeholder="Find any appointment by name"
        />
        <button class="search-btn" type="submit">Search</button>
      </form>
      <a class="profile-link">
        <p class="profile-name">Fatai</p>
        <img class="profile-img" src="/images/profile.jpg" alt="Fatai" />
      </a>

      <a class="logout-btn" href="/admin/login">Login</a>
    </header>
    <section class="sidebar">
      <div class="admin-side">
        <h3 class="dashboard-head">
          appointment
        </h3>
        <div class="links">
          <a class="dashboard-links active" href="/admin/appointment">
            All
          </a>
          <a class="dashboard-links" href="/admin/appointment?status=approved">
            Approved
          </a>
          <a class="dashboard-links" href="/admin/appointment?status=declined">
            Declined
          </a>
          <a class="dashboard-links" href="/admin/appointment?status=pending">
            Pending
          </a>
        </div>
      </div>
      <div class="main-admin">
        <h3 class="dashboard-head">
          User Management
        </h3>

        <div class="links">
          <a class="dashboard-links" href="#">
            Manage Users
          </a>
          <a class="dashboard-links" href="/admin/create-new-user">
            Create New User
          </a>
        </div>
      </div>

      <p class="copy">
        &copy; Pheity
        <script type="text/javascript" charset="utf-8">
          const date = new Date();
          const year = date.getFullYear();
          document.write(year);
        </script>
      </p>
    </section>
    <section class="content">
      <h5 class="content-head">All Appointment</h5>

      <!-- <a class="content-list approved">
        <h3 class="content-name">Ramon Rasheed Ishola</h3>
        <p class="days-ago">3 days ago</p>
      </a>

      <a class="content-list pending">
        <h3 class="content-name">Ramon Rasheed Ishola</h3>
        <p class="days-ago">3 days ago</p>
      </a>

      <a class="content-list approved">
        <h3 class="content-name">Ramon Rasheed Ishola</h3>
        <p class="days-ago">3 days ago</p>
      </a>

      <a class="content-list declined">
        <h3 class="content-name">Ramon Rasheed Ishola</h3>
        <p class="days-ago">3 days ago</p>
      </a>

      <a class="content-list approved">
        <h3 class="content-name">Ramon Rasheed Ishola</h3>
        <p class="days-ago">3 days ago</p>
      </a>

      <a class="content-list pending">
        <h3 class="content-name">Ramon Rasheed Ishola</h3>
        <p class="days-ago">3 days ago</p>
      </a>

      <a class="content-list approved">
        <h3 class="content-name">Ramon Rasheed Ishola</h3>
        <p class="days-ago">3 days ago</p>
      </a>

      <a class="content-list declined">
        <h3 class="content-name">Ramon Rasheed Ishola</h3>
        <p class="days-ago">3 days ago</p>
      </a>

      <a class="content-list declined">
        <h3 class="content-name">Ramon Rasheed Ishola</h3>
        <p class="days-ago">3 days ago</p>
      </a>

      <a class="content-list approved">
        <h3 class="content-name">Ramon Rasheed Ishola</h3>
        <p class="days-ago">3 days ago</p>
      </a> -->
      <% if (visitors.length > 0) { %> <% for(i = 0; i < visitors.length ; i++
      ){ %>
      <a
        href="/admin/appointment/<%= visitors[i].id %>"
        class="content-list <%= visitors[i].status %>"
      >
        <h3 class="content-name"><%= visitors[i].name %></h3>
        <p class="days-ago"><%= time[i] %></p>
      </a>
      <% } %> <% } else { %>
      <h3 class="content-name">No Appointment yet</h3>
      <% } %>

      <div class="pagination">
        <a href="#">&laquo;</a>
        <a href="#">1</a>
        <a class="active" href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#">&raquo;</a>
      </div>

      <!--
    <div class="app-details">
      <div class="details-head">
        <img class="details-img" src="images/man.jpeg" alt="Fatai" />
        <div class="details-info">
          <h3 class="info-name">Ramon Rasheed Ishola</h3>
          <p class="info-phone">08024283327</p>
          <p class="info-email">ramonrash2@gmail.com</p>
        </div>
      </div>
      <div class="details-body">
        <h4 class="body-head">
          Reason to meet
        </h4>
        <p class="body-para">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ullamcorper lectus ante, a sagittis est malesuada in. Maecenas luctus, felis vel posuere placerat, tellus magna pretium mi, sed varius ex lectus in nisi. Aliquam vestibulum lorem eros, sed pretium lectus posuere eu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non odio ac libero rhoncus porta.
        </p>
      </div>
    </div>
    <div class="ac-dec">
      <form class="accept-form" action="" method="get" accept-charset="utf-8">
        <input type="date" placeholder="yyyy-mm-dd"/>
        <input type="time" placeholder="Time" />
        <button class="btn-accept" type="submit">Book</button>
      </form>
      <button class="btn-decline" type="submit">Decline</button>
    </div>
    --></section>
    <!-- Project -->
    <script src="/main.js"></script>
  </body>
</html>
