<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>HTML</title>

    <!-- HTML -->

    <!-- Custom Styles -->
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <header class="header">
      <div class="logo-box">
        <h2 class="logo">Pheity</h2>
      </div>
      <form class="search-box">
        <input
          type="text"
          class="search-input"
          placeholder="Find any appointment by name"
        />
        <button class="search-btn" type="submit">Search</button>
      </form>
      <a class="profile-link">
        <p class="profile-name">Fatai</p>
        <img class="profile-img" src="/images/profile.jpg" alt="Fatai" />
      </a>

      <a class="logout-btn" href="#">Logout</a>
    </header>

    <section class="sidebar">
      <div class="admin-side">
        <h3 class="dashboard-head">
          appointment
        </h3>
        <div class="links">
          <a class="dashboard-links active" href="#">
            All
          </a>
          <a class="dashboard-links" href="#">
            Approved
          </a>
          <a class="dashboard-links" href="#">
            Declined
          </a>
          <a class="dashboard-links" href="#">
            Pending
          </a>
        </div>
      </div>
      <div class="main-admin">
        <h3 class="dashboard-head">
          User Management
        </h3>

        <div class="links">
          <a class="dashboard-links" href="#">
            Manage Users
          </a>
          <a class="dashboard-links" href="#">
            Create New User
          </a>
        </div>
      </div>

      <p class="copy">
        &copy; Pheity
        <script type="text/javascript" charset="utf-8">
          const date = new Date();
          const year = date.getFullYear();
          document.write(year);
        </script>
      </p>
    </section>
    <section class="content">
      <h5 class="content-head">All Appointment</h5>

      <div class="form-box">
        <form
          class="form-new-user"
          action="/admin/create-new-user"
          method="POST"
          accept-charset="utf-8"
        >
          <input
            type="text"
            name="name"
            class="input-name"
            placeholder="Fullname"
          />
          <input
            type="emil"
            name="email"
            class="input-email"
            placeholder="E-mail"
          />
          <input
            type="password"
            name="password"
            class="input-pass"
            placeholder="Password"
          />
          <input
            type="password"
            class="input-comfirm"
            name="confirmPassword"
            placeholder="Confirm Password"
          />
          <button type="submit" class="btn-newuser">Create New User</button>
        </form>
      </div>
    </section>
    <!-- Project -->
    <script src="main.js"></script>
  </body>
</html>
