<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>HTML</title>

    <!-- HTML -->

    <!-- Custom Styles -->
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <header class="header">
      <div class="logo-box">
        <h2 class="logo">Pheity</h2>
      </div>
      <form class="search-box">
        <input
          type="text"
          class="search-input"
          placeholder="Find any appointment by name"
        />
        <button class="search-btn" type="submit">Search</button>
      </form>
      <a class="profile-link">
        <p class="profile-name">Fatai</p>
        <img class="profile-img" src="images/profile.jpg" alt="Fatai" />
      </a>

      <a class="logout-btn" href="login.html">Login</a>
    </header>

    <section class="content">
      <h5 class="content-head">All Appointment</h5>

      <div class="form-box">
        <form
          class="form-new-user"
          action="/submitAppointment"
          method="Post"
          accept-charset="utf-8"
        >
          <input
            type="text"
            class="input-name"
            name="name"
            placeholder="Name"
          />
          <input
            type="text"
            class="input-user"
            name="address"
            placeholder="Address"
          />
          <input
            type="emil"
            class="input-email"
            name="email"
            placeholder="E-mail"
          />
          <textarea
            name="purpose"
            placeholder="Purpose of visit"
            id=""
            cols="63"
            rows="6"
          ></textarea>
          <button type="submit" class="btn-newuser">Create Appointment</button>
        </form>
      </div>
    </section>
    <!-- Project -->
    <script src="main.js"></script>
  </body>
</html>
