<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body style="padding: 0; width: 100%; display: block;">
    <div class="home" style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(./images/Federal-Polytechnic-Ilaro.jpg);">
        <form action="/submitAppointment" method="POST" class="home-form">
            <h3 class="form-head">Create Appointment</h3>
            <div class="form-group">
                <input type="text" name="name" id="" placeholder="Fullname">
            </div>
            <div class="form-group">
                <input type="email" name="email" id="" placeholder="Email">
            </div>
            <div class="form-group">
                <input type="tel" name="phoneNumber" id="" placeholder="Phone Number">
            </div>
            <div class="form-group">
                <textarea name="purpose" id="" cols="30" rows="7" placeholder="Purpose Of Visit"></textarea>
            </div>
            <button type="submit" class="btn-create">Create Appointment</button>
        </form>
    </div>
    <script>
        // const form = document.querySelector('.home-form')
        // form.addEventListener('submit', () => {
        //     alert('Appointment created succesfully')
        // })
        
    </script>
</body>
</html>