<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>HTML</title>

    <!-- HTML -->

    <!-- Custom Styles -->
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <header class="header">
      <div class="logo-box">
        <h2 class="logo">Pheity</h2>
      </div>
      <form class="search-box">
        <input
          type="text"
          class="search-input"
          placeholder="Find any appointment by name"
        />
        <button class="search-btn" type="submit">Search</button>
      </form>
      <a class="profile-link">
        <p class="profile-name">Fatai</p>
        <img class="profile-img" src="images/profile.jpg" alt="Fatai" />
      </a>

      <a class="logout-btn" href="#">Logout</a>
    </header>

    <section class="content">
      <h5 class="content-head">All Appointment</h5>

      <div class="form-box">
        <form
          class="form-new-user"
          action=""
          method="get"
          accept-charset="utf-8"
        >
          <input type="emil" class="input-email" placeholder="E-mail" />
          <input type="password" class="input-pass" placeholder="Password" />

          <button type="submit" class="btn-newuser">Login</button>
        </form>
      </div>
    </section>
    <!-- Project -->
    <script src="main.js"></script>
  </body>
</html>
